version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    environment:
      - NODE_ENV=test
    restart: always
    ports:
      - "4000:4000"
    command: [ "node", "index.js" ]
