# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI & Docker Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3
        
      # Build Docker Compose images
      - name: Build Docker Compose images
        working-directory: /home/mnagaraju/actions-runner-repo2/testing-project-2
        run: docker-compose -f docker-compose-test.yml build --no-cache app

      # Start Docker Compose services
      - name: Start Docker Compose services
        working-directory: /home/mnagaraju/actions-runner-repo2/testing-project-2
        run: docker-compose -f docker-compose-test.yml up -d app
